body *{
	box-sizing: border-box;
}

body {
	padding-top: 15px;
}

fieldset {
	border: 0;
	padding: 0;
}

div.signup-content, div.login-content {
	text-align: center;
}

.signup-label, .signup-field, .login-label, .login-field {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px; 
	width: 45%;
}

.signup-label, .login-label {
	font-size: 25px;
	text-align: left;
}

.signup-field, .login-field {
	height: 35px;
}

.get-login, .get-signup {
	margin-top: 10px;
}

.nav-container {
	text-align: right;
}

.nav-button {
	margin-right: 10px;
}

.user-note {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 5px; 
}

.user-note > span {
	display: block;
	margin-bottom: 5px;
	padding-top: 5px;
}

.delete-container {
	margin-top: 5px;
}

@media screen and (min-width: 768px) {
	.signup-label, .signup-field {
		width: 30%;
	}

	.nav-button {
		margin-right: 20px;
	}
}

/*js styling for now */
.edit-title, .hide-edit-note, .confirm-delete, .edit-header{
	display: none;
}

.note-id, .section-id, .hide-sections {
	display: none;
}